<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Abokishop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
  </head>
  <body>

    <div class="container no-gutters">

      <div class="row no-gutters">

        <div class="col-lg-2 col-xs-12 col-sm-12">

          <div id="nav">

            <ul class="nav nav-pills nav-stacked">

              {% if not current_user.is_authenticated %}
              <li><a href="/">home</a></li>
              {% endif %}

              {% if current_user.is_authenticated %}
              <li><a href="/home">home</a></li>
              {% endif %}

            </ul>

          </div>

        {% if current_user.is_authenticated %}

        <div class="col-lg-10  col-xm-12">

          <div id="usr-prf">

            hello

          </div>

        </div>

        <div class="col-lg-1 col-xs-12 col-sm-9">

          <div id="acct-nav">

            <ul class="nav nav-pills nav-stacked">

              <li><a href="#">My shop</a></li>

              <li><a href="/logout">logout</a></li>

            </ul>

          </div>

        </div>
        {% endif %}

        <div class="col-lg-8 col-xs-12 col-sm-9">

          <div class="col-lg-offset-2">

            <div id="flsh-msg">

              {% with messages = get_flashed_messages() %}

              {% if messages %}

                {{messages[0]}}

              {% endif %}

              {% endwith %}

            </div>

          </div>

          {% block content %}
          {% endblock %}

        </div>

      </div>

    </div>

    </div>

  </body>
</html>
