 {% if current_user.is_authenticated %}
        <div class="col-lg-7 ml-3 ml-sm-5 mt-4 col-11 col-sm-11" id="content-box" >
            <div class="tab-content" id="v-pills-tabContent">
            
                <div class="tab-pane fade show active" id="v-pills-content" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    {% block authenticatedBox %}
                    {% endblock %}

                </div>
            </div>
        </div>

{% else %}

        <div class="col-lg-8 col-12 col-sm-11 ">
            <div class="tab-content" id="v-pills-tabContent">
            
                <div class="tab-pane fade show active" id="v-pills-content" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    {% block unauthenticatedBox %}
                    {% endblock %}

                </div>
            </div>
        </div>

{% endif %}
<script src="{{url_for('static', filename='js/app.js')}}"></script>