{% include 'links.html' %}
{% include 'basic-nav.html' %}
{% include 'notification-msg.html' %}
  {% include 'log-template.html' %}


<form class="" action="/create_account?f_name={{u_info['first_name']}}&l_name={{u_info['last_name']}}&s_name={{u_info['shop_name']}}&password={{u_info['password']}}" method="post">

  <legend class="pl-lg-3 pl-3">Signup</legend>

  <fieldset >

    {% for field in form %}

      <div class="input-group col-12 col-lg-4 col-sm-12 mb-3">

        {{field(class='form-control')}}

          {% if field.errors %}

            {% for error in field.errors %}
              <div class="col-12">
                <span>{{error}}</span>
              </div>
            {% endfor %}

          {% endif %}

      </div>

    {% endfor %}

    <div class="input-group col-12 col-lg-4 col-sm-12">

      <button type="submit" name="button"  class="form-control btn-primary"><i class="fas fa-layer-group"></i></button>

    </div><br>


    <div class="mb-5">

    </div>
  </fieldset>

</form>
