{% extends 'basic-nav.html'%}

{% block unauthenticatedBox %}

    <form action="/create_shop" method="POST" style="margin-top: 1in;">

        <fieldset class="form-group col-lg-6">
            <legend class="border-bottom">Create a shop</legend>

            <div class="form-group">

                {{form.shop_name.label(class='form-control-label')}}
                {{form.shop_name(class='form-control ')}}

                {% for error in form.shop_name.errors %}

                    <span>{{error}}</span>

                {% endfor %}

            </div>

            <div class="form-group">

                {{form.service.label(class='form-control-label')}}
                {{form.service(class='form-control ')}}

                {% for error in form.service.errors %}

                    <span>{{error}}</span>

                {% endfor %}

            </div>

            <div class="form-group">

                {{ form.service_name.label(class='form-control-label')}}
                {{form.service_name(class='form-control ')}}

                {% for error in form.service_name.errors %}

                    <span>{{error}}</span>

                {% endfor %}

            </div>

            <div class="form-group">

                {{ form.create(class='form-control  btn btn-primary') }}

            </div>

            {{ form.csrf_token }}

        </fieldset>

    </form>

{% endblock %}


