{% include 'links.html' %}
{%  include 'basic-nav.html'%}
<div class="row no-gutters ">

    {% include 'nav.html' %}

    {% extends 'content.html' %}
    {% block authenticatedBox %}

                    <div class="col-lg-12 ">

                        <div id="shop_photo">

                            <div class="">

                                <p><i class="fas fa-store-alt"></i> {{shop.shop_name}}</p>

                            </div><hr>

                            <div class="">
                                <p><i class="fas fa-mobile"></i></p>
                                <p><i class="fas fa-envelope"></i></p>
                                <p><i class="fas fa-comment-alt"></i></p>
                            </div>

                        </div><hr>

                        <div class="mt-lg-2">

                            <div id="shop_info">

                                <div class="">

                                    <p><i class="fas fa-layer-group"></i> {{shop.service}}</p>
                                    <p><i class="fas fa-clipboard-list"></i> {{shop.service_description}}</p>
                                    <p><i class="fas fa-signature"></i> {{shop.shop_owner.username}}</p>

                                </div><hr>

                                    <div>

                                        <i class="fas fa-box-open"></i>

                                    </div><hr><br>

                                    <div>

                                        <i class="fas fa-tags"></i>

                                    </div><hr><br>

                                    <form class="" action="#" method="post">

                                        {% for field in form %}

                                          <div class="input-group col-12 col-lg-12 col-sm-12 mb-3">

                                            {{field()}}

                                              {% if field.errors %}

                                                {% for error in field.errors %}
                                                  <div class="col-12 mt-lg-5">
                                                    <span>{{error}}</span>
                                                  </div>
                                                {% endfor %}

                                              {% endif %}
                                            </div>
                                        {% endfor %}

                                        <div class="input-group">

                                          <div class="">

                                            <button type="submit" class="btn btn-primary">submit</button>

                                          </div>

                                        </div>

                                    </form><br>

                                      <button type="button" class="btn btn-primary ">Add stock</button>





                            </div>

                        </div>

                    </div>



    {% endblock %}

</div>
