{% include 'links.html' %}
{%  include 'basic-nav.html'%}
<div class="row no-gutters ">

    {% include 'nav.html' %}

    {% extends 'content.html' %}
    {% block authenticatedBox %}

                    <div class="col-lg-12 ">

                        <div id="shop_photo">

                            <div class="">

                                <p><i class="fas fa-store-alt"></i> {{shop.name}}</p>

                            </div><hr>

                            <div class="">
                                <p><i class="fas fa-mobile"></i></p>
                                <p><i class="fas fa-envelope"></i></p>
                                <p><i class="fas fa-comment-alt"></i></p>
                            </div>

                        </div><hr>

                        <div class="mt-lg-2">

                            <div id="shop_info">

                                <div class="">

                                    <p><i class="fas fa-layer-group"></i> {{shop.service}} {{current_user.name}}</p>
                                    <p><i class="fas fa-clipboard-list"></i> {{shop.service_description}}</p>
                                    <p><i class="fas fa-signature"></i> {{shop.shop_owner.first_name}}</p>

                                </div><hr>

                                    {% for goods in shop.goods %}

                                      <div class="row">
                                        <div class="card " style="width: 18rem;">
                                          <div class="card-body">
                                            <h5 class="card-title"><i class="fas fa-box-open"></i> {{goods.goods_name}}
                                            </h5>
                                            <h6 class="card-subtitle mb-2 text-muted">
                                              <p>{{goods.description}}</p>
                                              <p><i class="fas fa-clock"></i> {{goods.date}}</p>
                                            </h6>
                                            <p class="card-text"><i class="fas fa-money-bill-wave"></i> {{goods.price}}</p>
                                            <a href="#" class="card-link float-left"><i
                                                class="fas fa-2x fa-bookmark"></i></a>
                                            <a href="#" class="card-link float-right"><i
                                                class="fas fa-2x fa-shopping-cart"></i></a>
                                          </div>
                                        </div>
                                      </div>
                                      <br>

                                    {% endfor%}

                                    {% if current_user.first_name == shop.shop_owner.first_name %}

                                      <form class="" action="/addstock?shop_id={{shop.id}}" method="post">
                                      
                                        {% for field in form %}
                                      
                                        <div class="input-group col-12 col-lg-12 col-sm-12 mb-3">
                                      
                                          {{field()}}
                                      
                                          {% if field.errors %}
                                      
                                          {% for error in field.errors %}
                                          <div class="col-12 mt-lg-5">
                                            <span>{{error}}</span>
                                          </div>
                                          {% endfor %}
                                      
                                          {% endif %}
                                        </div>
                                        {% endfor %}
                                      
                                        <div class="input-group col-lg-3">
                                      
                                          <button type="submit" class="form-control btn-primary">add stock</button>
                                      
                                        </div>
                                      
                                      </form><br>

                                    {% endif %}
                            </div>

                        </div>

                    </div>



    {% endblock %}

</div>
