{% extends 'basic-nav.html' %}

{% block unauthenticatedBox %}

{% include 'log-template.html'%}

  <div class="col-lg-5 col-12 col-sm-12" id="log">

    <form class="" action="/login" method="post" >

      <legend>login</legend>
  
      <fieldset>

        <div class="input-group col-sm-9 col-xs-12 col-lg-12">
    
          {{form.email(class='form-control input-lg col-lg-12', placeholder='Enter email')}}
    
          <div class="col-sm-9 col-xs-12 col-lg-12">
            <ul>
    
            {% for error in form.email.errors%}
    
              <li>{{error}}</li>
    
            {% endfor %}
    
          </ul>
          </div>
    
        </div>
    
        <div class="input-group col-sm-12 col-xs-12 col-lg-12">
    
          {{form.password(class='form-control input-lg', placeholder='Enter password')}}
    
          <div class="col-sm-12 col-xs-12 col-lg-12">

            <ul>
    
            {% for error in form.password.errors %}
    
              <li>{{error}}</li>
    
            {% endfor %}
    
          </ul>

          </div>
    
        </div>
    
        <div class="input-group col-lg-12 col-sm-12 col-xs-12">
    
          {{form.submit(class='btn col-lg-12 btn-primary col-sm-9 col-xs-12')}}

        </div>      
    
        {{form.csrf_token  }}

      </fieldset>
  

    </form>


  </div>

{% endblock %}


