{% extends 'basic-nav.html' %}

{% block content %}

  <div class="">

    <img id="img-signup" src="{{ url_for('static', filename='img/food-stall-with-cupcakes-and-sweets-fixed-market-vector-18094409.jpg')}}" alt="" srcset="">

  </div>

  <div class="col-lg-6 col-xs-12 col-sm-12">

    <form class="" action="/login" method="post" >

      <legend>login</legend>
  
      <fieldset>

        <div class="input-group col-sm-9 col-xs-12 col-lg-12">
    
          {{form.email(class='form-control input-lg col-lg-12', placeholder='Enter email')}}
    
          <div class="col-sm-9 col-xs-12 col-lg-12">
            <ul>
    
            {% for error in form.email.errors%}
    
              <li>{{error}}</li>
    
            {% endfor %}
    
          </ul>
          </div>
    
        </div>
    
        <div class="input-group col-sm-12 col-xs-12 col-lg-12">
    
          {{form.password(class='form-control input-lg', placeholder='Enter password')}}
    
          <div class="col-sm-12 col-xs-12 col-lg-12">

            <ul>
    
            {% for error in form.password.errors %}
    
              <li>{{error}}</li>
    
            {% endfor %}
    
          </ul>

          </div>
    
        </div>
    
        <div class="input-group col-lg-12 col-sm-12 col-xs-12">
    
          {{form.submit(class='btn col-lg-12 btn-primary col-sm-9 col-xs-12')}}

        </div>      
    
        {{form.csrf_token  }}

      </fieldset>
  

    </form>


  </div>

  

{% endblock %}
