{% include 'links.html' %}
{% include 'basic-nav.html' %}

<div class="row no-gutters ">

  
    <div class="mt-lg-5 mt-5">
      {% include 'log-template.html'%}
    </div>


      <div class="col-lg-7 col-12 col-sm-12" id="log">
        <center>
        <form class="" action="/login" method="post" >

          <legend>Sign in <br><span>to continue to Abokishop</span></legend>
          
      
          <fieldset>

            <div class="input-group  col-sm-12 col-lg-12">
        
              {{form.email(class='form-control input-lg input-xs input-sm', placeholder='Enter email')}}
        
              <div class="col-sm-12 col-lg-12">
                <ul>
        
                {% for error in form.email.errors%}
        
                  <li>{{error}}</li>
        
                {% endfor %}
        
              </ul>
              </div>
        
            </div>
        
            <div class="input-group  col-sm-12 col-lg-12">
        
              {{form.password(class='form-control input-lg input-xs input-sm', placeholder='Enter password')}}
        
              <div class="col-sm-12 col-lg-12">

                <ul>
        
                {% for error in form.password.errors %}
        
                  <li>{{error}}</li>
        
                {% endfor %}
        
              </ul>

              </div>
        
            </div>
        
            <div class="input-group  col-lg-12 col-sm-12 ">
        
              {{form.submit(class='btn col-lg-12 col-12 col-sm-12 btn-primary col-sm-9 col-xs-12 ')}}

            </div>      
        
            {{form.csrf_token  }}

          </fieldset>
      

        </form>

        <div class="col-lg-12 col-12 input-group">

          <a href="/signup" class="col-11 ml-lg-3 col-lg-12 col-12 btn btn-primary">Register</a>

        </div>


      </div>

  

  </center>



</div>


