{% extends 'basic-nav.html'%}

{% block authenticatedBox %}

    <!-- bootstrap card -->
    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
        <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
{% endblock %}