{% include 'links.html' %}
{%  include 'basic-nav.html'%}

<div class="row no-gutters ">

    {% include 'nav.html' %}

    {% extends 'content.html' %}
    {% block authenticatedBox %}

        {% for shop in shops %}

            <div class="card">
                <div class="card-header">
                    {{shop.service}}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-uppercase">{{shop.shop_name}}</h5>
                    <p class="card-text">{{shop.service_description}}</p>
                    <a href="#" class="btn btn-primary float-right">Enter shop</a>
                </div>
            </div><br>

        {% endfor %}

    {% endblock %}

</div>
<script src="{{url_for('static', filename='js/app.js')}}"></script>

    
    
