{% include 'links.html' %}
{%  include 'basic-nav.html'%}

<div class="row no-gutters ">

    {% include 'nav.html' %}
    {% include 'content.html' %}

    {% extends 'content.html' %}
    {% block authenticatedBox %}

        <div class="card col-lg-3 ml-lg-3 mb-lg-5" style="display: inline-block">
            <img src="{{url_for('static', filename='imgs/camera-coffee-composition-1509428.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">location details:</p>
            
        </div>

    {% endblock %}

</div>
<script src="{{url_for('static', filename='js/app.js')}}"></script>

    
    
