{% include 'links.html' %}
{%  include 'basic-nav.html'%}

<div class="row no-gutters ">

    {% include 'nav.html' %}

    {% extends 'content.html' %}
    {% block authenticatedBox %}

        {% for user_shop in current_user.shop%}
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{user_shop.name}}</h5>
                        <p class="card-text">{{user_shop.service_description}}</p>
                        <a href="#" class="float-left btn btn-info"><i class="fas fa-chart-line"></i></a>
                        <a href="/{{user_shop.name}}?shop_id={{user_shop.id}}"
                            class=" float-right btn btn-warning"><i class="fas fa-store"></i></a>
                    </div>
                    </div>
                    <hr>
        {% endfor %}

    {% endblock %}

</div>
