{% include 'links.html' %}
{%  include 'basic-nav.html'%}

<div class="row no-gutters ">

    {% include 'nav.html' %}

    {% extends 'content.html' %}
    {% block authenticatedBox %}

        <p><span><i class="fas fa-user"></i> {{current_user.username}}</span></p>

        {% for user_shop in current_user.shop%}
            
            <div class="row">
                <div class="col-sm-6 col-11 mb-3">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{user_shop.shop_name}}</h5>
                        <p class="card-text">{{user_shop.service_description}}</p>
                        <a href="#" class="btn btn-primary">View shop activities</a>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endblock %}

</div>