{% include 'links.html' %}
{% include 'basic-nav.html'%}

<div class="row no-gutters ">

    <div class="col-lg-12 col-xs-12 col-sm-12" id="welcome">

        <center><h5>Abokishop your  online <em>Market cheat</em>$ </h5>
        
            <img src="{{url_for('static', filename='imgs/food-stall-with-cupcakes-and-sweets-fixed-market-vector-18094409.jpg')}}"
             alt=""
             id="welcom-img"><br>

            <a class="btn btn-primary  mt-2 col-lg-2 col-8" id="welcome-auth" href="/login">Sigin</a><br>

            <a class="btn btn-primary mt-3 mb-2 col-lg-2 col-8" id="welcome-auth" href="/signup">signup</a>

        </center>

    </div>
    

</div>

    
