@media (min-width: 900px){
    #img-log{
        position: relative;
        left: 1.3cm;
        height: 2in;
        width: 2in;
    }
    
    #v-pills-tab, #v-pills-tabContent{
        margin-top: 1.5cm;

    }

    /* #v-pills-tabContent{
        
    } */

    #v-pills-tab{
        position: fixed;
    }

    #footer{
        height: 20vh;
        background: lightblue !important;
    }

    #log{
        margin-left: 3in;
        height: auto;
        border-left: thick solid lightblue;
        margin-top: -1in;
    }

    #welcome{
        margin-top: 2cm;
        height: 7in;
    }
    
    #msg{
        margin: 1.5cm 0cm -1cm 6in;
    }
    
    /* #v-pills-home{
        position: relative;
        left: 4.5in;
        top: 2cm;
    } */

}
/* nav{
    position: fixed;
} */

#v-pills-tab{
}

#v-pills-child-tab:active{
    background: lightblue !important;
    height: auto;
}

#welcome{
    background-image: url("/static/imgs/food-stall-with-cupcakes-and-sweets-fixed-market-vector-18094409.jpg");
    background-repeat: no-repeat;
}
#v-pills-tab-link:hover{
    background-color: lightblue;
    width: 2.7in;
}