@media (min-width: 900px){
    #img-log{
        position: relative;
        left: 1.3cm;
        height: 2in;
        width: 2in;
    }
    
    #v-pills-tab, #v-pills-tabContent{
        border-left: thick solid blanchedalmond;
    }

    #v-pills-tabContent{
        padding: 7px !important;
    }

    #v-pills-tab{
        position: fixed;
        width: 2.8in;
    }

    #footer{
        height: 20vh;
        background: lightblue !important;
    }

    #log{
        margin-left: 3in;
        height: auto;
        border-left: thick solid blanchedalmond;
        margin-top: -1in;
    }

    #welcome{
        margin-top: 2cm;
        min-height: 7in;
    }

    #welcom-img{
        height: 6in;
        width: 6in;
    }
    
    #msg{
        margin-top: 1.7cm;
        margin-left: 7in;
    }

    #v-pills-tab-link:hover{
        background-color: whitesmoke;
        width: 2.7in;
    }

    #nav-btn{
        display: none;
    }
    
    /* #v-pills-home{
        position: relative;
        left: 4.5in;
        top: 2cm;
    } */

}

@media (max-width: 900px){
    .header-title{
        word-spacing: 0px;
        margin-left: -7px;
    }

    #v-pills-tab, #v-pills-tabContent{
        margin-top: 1.5cm;
        margin-bottom: 0px;
    }

    #navigator{
        position: fixed !important;
        font-size: 20px !important;
    }

    #welcom-img{
        height: 3in;
        width: 3in;
    }

    #welcome{
        margin-top: 2cm;
        /* visibility: hidden; */

    }

    #img-log{
        height: 1cm;
        width: 1cm;
        margin-top: 1cm;
        margin-left: -7px;
    }
    #log{
        margin-top: 0cm;
    }

    #welcome-auth{
        color: white;
    }

    #log-2{
        text-align: center;
    }
/* nav{
    position: fixed;
} */
}
#v-pills-tab{
}

#v-pills-child-tab:active{
    background: lightblue !important;
    height: auto;
}

