@media (min-width: 900px){
    #img-signup{
        position: relative;
        left: 1.3cm;
        height: 2in;
        width: 3in;
    }

    #v-pills-tab, #v-pills-tabContent{
        padding-top: .57in;

    }

    #v-pills-tabContent{
      position: relative;
      left: 1.9in;
      min-height: 100vh;
      border-left: 2px solid whitesmoke;
    }

    #v-pills-tab{
        position: fixed;
    }

    #v-pills-content{
        padding: 7px !important;
    }

    #store{
        display: inline-block;
    }

    #msg{
        margin-top: 1.55cm;
        margin-left: 2.8in;
    }

    #nav-btn{
        display: none;
    }
    #v-pills-tab-link:hover{
        background-color: whitesmoke;
        width: 2.3in;
    }

    #owner_profile{
        /* border: thick solid rgb(168, 166, 166); */
    }

    #profile_pix{
      position: relative;
      left : 20%;
    }

    #shop_photo{
        /* border: thick solid rgb(168, 166, 166); */
    }
    #shop_info{
        min-height: 77vh;
        /* border:thick solid rgb(168, 166, 166); */
    }
    #nav-btn-open, #nav-btn-close{
      display: none;
    }
}

@media(max-width: 900px){

    .header-title{
        word-spacing: 0px;
        margin-left: -7px;
    }
    #navigator{
        font-size: 20px !important;
    }

    #v-pills-tab{
        position: fixed;
        margin-top: 1.5cm;
        display: none;
        background-color: whitesmoke;
        min-height: 100vh;
    }

    #v-pills-tabContent{
        margin-top: 2cm;
    }

    #store{
        display: block;
    }

    #nav-btn-2{
        text-align: left;
    }

    #v-pills-tab-link:hover{
        background-color: whitesmoke;
    }

    #owner_profile{
        /* border: thick solid rgb(168, 166, 166); */
    }

    #profile_pix{
      position: relative;
      left : 6%;
    }

    #shop_photo{
        /* border: thick solid rgb(168, 166, 166); */
    }
    #shop_info{
        min-height: 77vh;
        /* border:thick solid rgb(168, 166, 166); */
    }
}

#v-pills-child-tab:visited{
    background: lightblue !important;
    height: auto;
}


#nav-btn-close{
    display: none;
}
#update_info{
  display: none;
}
#cbtn{
  display: none;
}

#img-prfl{
  height: 3in;
}
