@media (min-width: 900px){
    #img-signup{
        position: relative;
        left: 1.3cm;
        height: 2in;
        width: 3in;
    }
    
    #v-pills-tab, #v-pills-tabContent{
        margin-top: .57in;
        
    }

    #v-pills-tab{
        position: fixed;
    }

    #content-box{
        position: relative;
        left: 1.8in;
        min-height: 96vh;
        border-left: thin solid black;
    }

    #v-pills-content{
        padding: 7px !important;        
    }

    #store{
        display: inline-block;
    }

    #msg{
        margin-top: 1.55cm;
        margin-left: 2.8in;
    }

    #nav-btn{
        display: none;
    }
    #v-pills-tab-link:hover{
        background-color: whitesmoke;
        width: 2.7in;
    }

}

@media(max-width: 900px){

    .header-title{
        word-spacing: 0px;
        margin-left: -7px;
    }
    #navigator{
        font-size: 20px !important;
    }

    #v-pills-tab{
        position: fixed;
        margin-top: 1.5cm;
        display: none;
        background-color: whitesmoke;
        min-height: 100vh;
    }

    #v-pills-tabContent{
        margin-top: 1cm;
    }

    /* #content-box{
        display: block;
    } */

    #store{
        display: block;
    }

    #nav-btn-2{
        text-align: left;
    }

    #v-pills-tab-link:hover{
        background-color: whitesmoke;
    }
}

#v-pills-child-tab:visited{
    background: lightblue !important;
    height: auto;
}

#welcome{

    height: calc(100vh);
    background-image: url("/static/imgs/quwirpvb.svg");
    background-repeat: no-repeat;
}



