body{
    color: #337ab7;
}
@media(max-width: 800px){
    #nav{
        text-align: center;
        margin-top: 3mm;
        margin-bottom: 1cm;flsh-msg
        font-size: large;
    }
    #auth-div{
        margin-top: 3mm;
    }
    #auth-div ul li:last-child{
        margin-top: 2mm;
        margin-bottom: 3mm;
    }
    #formbox > a{
        margin-top: 3mm;
        margin-bottom: 3mm;
    }
}

@media(min-width: 900px){
    #nav, #auth-div, #usr-prf{
        text-align: center;
        margin-top: 3mm;
        font-size: x-large;
    }
    #formbox{
        margin-top: 3cm;
    }
    #formbox > a{
        margin-top: 1cm;
    }
    #auth-div ul li a:last-child{
        margin-top: 3cm;
    }
    #flsh-msg{
        font-size: large;
    }
    #acct-nav{
        margin-top: 3mm;
    }

}

legend{
    color: #337ab7;
}

input{
    background-color: transparent !important;
    color: #337ab7 !important;

}

#auth-div{
    text-align: center;
}

#nav ul li > a:hover, #auth-div ul li > a:hover, #acct-nav ul li > a:hover{
    background-color: transparent !important;
    color: #337ab7;
    font-weight: bold;
    border: solid thin #17548a;
}
#acct-nav ul li > a{
    text-align: center;
}
#acct-nav ul li > a:hover{
    background-color: transparent !important;
    color: #337ab7;
    border: solid thin #17548a;
}
#usr-prf{
    border:thin solid whitesmoke;
}
